#signUpModal.uneditable.reveal-modal{data: {reveal: true}}
  %p.lead
    You need to create an account to save your profile.
    = link_to 'Sign up', new_user_registration_path
    %a.close-reveal-modal &#215;
