#versioning
  = linkrevert
  %a.alert.button.verbtns Save
  -# needs to do an ajax PATCH to /profile with the html in div-editable
  %a.success.button.verbtns Version history

= @profile.html.html_safe
