%p#notice= notice

#versioning
  %a.success.button.verbtns Previous
  %a.button.verbtns Save
  -# needs to do an ajax PATCH to /profile with the html in div-editable
  %a.success.button.verbtns Next

