/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "foundation/functions";

td > .verbtns, #versioning > .verbtns {
  margin: 0px;
  padding: 0.3rem 0.5rem;
}

#versioning {
  background-color: #CCCCCC;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#profilelink {
  position:fixed;
  top: rem-calc(50px);
  right: rem-calc(50px);
  padding: rem-calc(0px) rem-calc(10px);
  opacity: 0.5;
  background-color: white;
  z-index: 1; /* on top of any floats */
}

#profilelink:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

#edit_button {
  position: absolute;
  left: 3rem;
}
