// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  position: relative;
  z-index: -999;
}
#grid-background {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: image-url('grid15.png');
  background-color: #EEF0FF;
  display: none;
  z-index: -998;
}

#edit_button.editing{
  background-color: gray;
}

#edit_panel{
  position: absolute;
  display: none;
  z-index: 100;
  width: 35rem;
  height: 16rem;
  padding: 10px 0px;
  border-radius: 10px;
  background: image-url('grid15.png');
  background-color: #226;
  box-shadow: inset 0 0 5rem black;
  label, h5 small {
    color: white;
    text-shadow: 0px 0px 6px black;
  }
}

textarea{
  resize:none;
  margin-bottom: 0px;
  height: 12rem;
}

main{
  height: 635px;
}
