// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit_button.editing{
	background-color: gray;
}

#edit_panel{
	position: absolute;
	display: none;
  width: 35rem;
  height: 16rem;
  padding: 10px 0px;
	border-radius: 5px;
  background: linear-gradient(to bottom,  #454850 0%,#000000 100%); /* W3C */
  label, h5 small {
    color: white;
  }
}

textarea{
	resize:none;
	margin-bottom: 0px;
	height: 12rem;
}

main{
	height: 635px;
}
